/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/mouse_keys.dtsi>

#define MAIN  0
#define QWERT 1
#define NUM   2
#define NAV   3
#define SYMB  4
#define FUNC  5

/ {
        keymap {
                compatible = "zmk,keymap";

                Main {
                        label = "Main";
                        bindings = <
        &kp TAB   &kp Q &kp W &kp F &kp P &kp B                 &kp J   &kp L   &kp U     &kp Y   &kp SEMI    &kp RALT
        &kp LCTRL &kp A &kp R &kp S &kp T &kp G                 &kp M   &kp N   &kp E     &kp I   &kp O &kp SQT
        &kp LSHFT &kp Z &kp X &kp C &kp D &kp V                 &kp K   &kp H   &kp COMMA &kp DOT &kp FSLH &kp ESC
               &kp LSHFT  &lt NUM SPACE  &lt SYMB DEL           &lt NAV BSPC  &lt FUNC RET  &none
                        >;
                };

        Qwert {
            label = "Qwert";
            bindings = <
  &kp TAB  &kp Q  &kp W      &kp E      &kp R  &kp T    &kp Y    &kp U      &kp I    &kp O     &kp P    &kp BSPC
  &kp ESC  &kp A  &kp S      &kp D      &kp F  &kp G    &kp H    &kp J      &kp K    &kp L  &kp SEMI    &kp APOS
&kp LSHFT  &kp Z  &kp X      &kp C      &kp V  &kp B    &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHIFT
                             &trans    &trans  &trans   &trans   &trans  &none
                        >;
                };

                Num {
                        label = "Num";
                        bindings = <

&none   &kp LC(B) &bootloader &kp LC(F) &kp LC(S) &kp LS(LG(S))        &kp ASTRK  &kp N7   &kp N8  &kp N9  &kp MINUS  &kp HOME
&none   &sk LGUI &sk LEFT_ALT &sk LCTRL &sk LSHFT &kp LC(A)            &kp FSLH   &kp N4   &kp N5  &kp N6  &kp PLUS    &trans
&none   &kp LC(Z) &kp LC(X)  &kp LC(C) &kp LC(V) &kp LC(Y)             &kp EQUAL  &kp N1   &kp N2  &kp N3  &kp N0    &trans
                               &kp LGUI  &kp SPACE    &trans           &kp BSPC  &kp DOT   &none
                        >;
                };

                Nav {
                        label = "Nav";
                        bindings = <

&none    &kp EXCL   &kp PG_UP &kp UP   &kp PG_DN  &none           &bootloader   &none   &kp RCTRL  &kp RALT  &none    &none
&none    &kp HOME   &kp LEFT  &kp DOWN &kp RIGHT  &kp END         &to MAIN  &sk LSHFT   &sk LCTRL  &sk LEFT_ALT &sk LGUI   &none
&none    &kp GRAVE  &none     &none    &kp TAB    &none           &kp LC(Y) &kp LC(V)   &kp LC(C)   &kp LC(X)   &kp LC(Z)  &none
                        &kp BSPC  &kp SPACE  &kp RET               &trans    &none   &none 
                        >;
                };

        SYMB {
            label = "SYMB";
            bindings = <
   &none    &kp ESC  &none  &none   &none  &none                  &kp LT    &auto_chv  &kp GT   &auto_sqt &kp MINUS  &none
   &none    &sk LGUI &sk LEFT_ALT &sk LCTRL &sk LSHFT  &none      &kp LPAR  &auto_par  &kp RPAR &kp SQT   &kp SEMI   &none
   &none    &none    &none  &none   &none  &none                  &kp LBKT  &auto_bkt  &kp RBKT &auto_dqt &kp EXCL   &none
                                   &kp LSHFT  &none  &none        &trans  &trans  &none 
            >;
        };

        Func {
            label = "Func";
            bindings = <
&trans  &kp F9  &kp F10  &kp F11  &kp F12    &kp C_VOL_UP          &kp LC(T)  &kp LEFT         &kp LC(L) &kp RIGHT     &none      &none
&trans  &kp F5  &kp F6   &kp F7   &kp F8     &kp C_MUTE            &kp F5     &kp LA(LEFT)     &mkp MCLK &kp LA(RIGHT) &none      &none
&trans  &kp F1  &kp F2   &kp F3   &kp F4     &kp C_VOL_DN          &kp LC(W)  &kp LS(LC(TAB))  &none     &kp LC(TAB)   &kp LA(F4) &none
                  &bt BT_PRV  &bt BT_CLR  &bt BT_NXT               &kp RGUI  &trans  &none 
            >;
        };


        };
};
